body {
    font-size: 30px;
}

ul {
    list-style-type: none;
}

input[type='checkbox'] {
    width: 20px;
    transform: scale(2);
    vertical-align: middle;
}

input[type='textarea'] {
    padding: 10px;
    border: 1px solid grey;
    font-size: 30px;
}

label {
    margin: 0 10px;
}

.removeTask {
    cursor: pointer;
}

/*--------------------------------------*/

body {
    background-color: #ff00ff;
}

#taskInput {
    font-family: Comic Sans MS;
    color: #00ff00;
    background-color: #0000ff;
    border: 10px dashed #ffff00;
    border-radius: 50px;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff, 0 0 30px #ffff00, 0 0 40px #00ff00, 0 0 70px #ff0000, inset 0 0 10px #ffffff;
    text-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ff0000, 0 0 70px #00ff00;
}

#taskList {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 10px solid #00ff00;
    border-radius: 50px;
    box-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ff0000, 0 0 70px #00ff00, inset 0 0 10px #ffffff;
}

#taskList li {
    font-family: Impact, fantasy;
    font-size: 30px;
    color: #ff00ff;
    background-color: #ffff00;
    border: 5px dotted #00ffff;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ff0000, 0 0 70px #00ff00, inset 0 0 10px #ffffff;
}

#taskList input[type=checkbox] {
    transform: rotate(45deg);
    box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff, 0 0 30px #ffff00, 0 0 40px #00ff00, 0 0 70px #ff0000, inset 0 0 10px #ffffff;
    background-color: #00ff00;
    border: 5px groove #ff00ff;
}

#taskList label {
    text-decoration: underline;
    text-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ff0000, 0 0 70px #00ff00;
}

.removeTask {
    font-family: Impact, fantasy;
    font-size: 30px;
    color: #ff00ff;
    background-color: #ffff00;
    border: 5px dotted #00ffff;
    border-radius: 50%;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 0 40px #ff0000, 0 0 70px #00ff00, inset 0 0 10px #ffffff;
    transform: rotate(45deg);
}

.removeTask:hover {
    color: #00ff00;
    background-color: #ff00ff;
    box-shadow: 0 0 10px #ffff00, 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ff0000, 0 0 70px #00ff00, inset 0 0 10px #ffffff;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, -10px);
    }

    40% {
        transform: translate(10px, -10px);
    }

    60% {
        transform: translate(-10px, 10px);
    }

    80% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}